body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

  #form-heading {
  font-size: 20px;
 }

 .col-lg-9{
  border-color: black;
 }

 .card{
 max-width: 10rem;
 display: flex;
 flex-direction: row;
 }