

.weather-col-md-4{
width: 78%;
padding-bottom: 2%;

}

.card-weather{
width: 85%;
background-color: rgb(163, 163, 203);

}

.card {

  color: white;
  width: 119%;
  border-radius: 5px;
  font-size: 11pt;
  color: black;
}


.card-body{
width: 100%;
background-color: rgb(163, 163, 203);
}

.col{
  padding: 2px;
}